
@{
    ViewBag.Title = "Index";
}

<h2>login page</h2>

<form action="/Login/Login" method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password" />
    <input type="submit" />
</form>

