@{
    ViewBag.Title = "Create Recipe";
}

<h1>Create recipe</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-list-ul"></i> Ingredients
            </div>
            <ul id="ingredients" class="list-group list-group-flush">
                <li class="list-group-item"><i class="far fa-dot-circle"></i> Ingredient<span class="remove-ingredient float-right"><i class="fas fa-times-circle"></i></span></li>
                <li data-ingredient="Apple" data-amount="1" data-unit="piece" class="list-group-item"><i class="far fa-dot-circle"></i> 1 piece of Apple<span class="remove-ingredient float-right"><i class="fas fa-times-circle"></i></span></li>
            </ul>
        </div>
        <div class="p-1 d-flex justify-content-left align-items-center">
            <label class="p-2 m-0" for="sel_ingredient">Select ingredient:</label>
            <select class="green-border form-control" id="sel_ingredient">
                <option>Apple</option>
                <option>Flour</option>
                <option>Chicken</option>
                <option>Basil</option>
            </select>
        </div>
        <div class="p-1 d-flex justify-content-left align-items-center">
            <label class="p-2 m-0" for="amount">Amount:</label>
            <input class="green-border form-control" type="number" id="amount" value="1" />
        </div>
        <div class="p-1 d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <label class="p-2 m-0" for="sel_unit">Select unit:</label>
                <select class="green-border form-control" id="sel_unit">
                    <option>piece</option>
                    <option>liter</option>
                    <option>ml</option>
                    <option>tbsp</option>
                </select>
            </div>
            <button onclick="addIngredient()" type="button" class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="w-100 d-flex align-items-center card-title"><i class="fas fa-utensils"></i><input class="ml-2 form-control w-100" type="text" id="recipe_name" placeholder="Recipe name" /></h5>
                <textarea class="form-control w-100" id="short_description" placeholder="Recipe description" rows="8"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img class="rounded img-fluid" id="recipe_image" src="http://via.placeholder.com/400x400" alt="Placeholder" />
        <div class="p-2 d-flex justify-content-center align-items-center">
            <button onclick="uploadImage()" type="button" class="btn btn-primary">Upload image</button>
        </div>
    </div>
</div>
<br />
<div class="card mb-0 rounded-only-top">
    <div class="card-header">
        <span class="float-left">Description</span>
    </div>
</div>

<textarea class="form-control w-100 rounded-only-bottom" id="long_description" rows="8"></textarea>
<div class="p-2 d-flex justify-content-center align-items-center">
    <button onclick="submitForm()" type="button" class="btn btn-primary btn-lg">Create recipe</button>
</div>


<form id="hidden_form" method="post" action="/Upload/CreateRecipe" enctype="multipart/form-data">
    <input id="hidden_ingredients" name="ingredients" type="hidden" value="" required>
    <input id="hidden_name" name="name" type="hidden" value="" required>
    <input id="hidden_short_desc" name="short_desc" type="hidden" value="" required>
    <input id="hidden_long_desc" name="long_desc" type="hidden" value="" required>
    <input id="hidden_image" class="hidden_file" name="image" type="file" accept="image/x-png,image/gif,image/jpeg" required/>
</form>

