@using RecipesGitHub.Models.display
@model List<DisplaySimpleRecipe>

@{ 
    ViewBag.Title = "Recipe List";
}

<h1>Recipe List</h1>

<div class="row">
    @{ foreach (var item in @Model)
        { String path = item.ImagePath;
            <div class="col-md-4">
                <div class="card grey-border">
                    @if (path.Contains("NO_IMAGE"))
                    {
                        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
                    }
                    else
                    {
                        <img class="card-img-top" src="@item.ImagePath" alt="Card image cap">

                    }
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-utensils"></i> @item.RecipeName </h5>
                        <p class="card-text">@item.ShortDescription</p>
                        <a href="@Url.Action("SeeRecipe/" + item.RecipeName, "Home")" class="btn btn-primary">See recipe</a>
                    </div>
                </div>
            </div>
        }
    }
</div>

