
@{
    ViewBag.Title = "Test";
}
@if (ViewBag.added == "yes")
{
    <h2>The acccount @ViewBag.test2 have been created.</h2>
}
else
{
    <h2>An error occured your account have not been added</h2>

}

