
@{
    ViewBag.Title = "Index";
}

<h1>@TempData["test1"] </h1>
<h2>Index</h2>

@using (Html.BeginForm("UploadImage", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="image_file" />
    <input type="submit" />
}
