/* COLORS
green           - #93b151
green darker    - #7e9944
*/
* {
    outline-width: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow-y: scroll;
}

#full-height-wrapper {
    position: relative;
    min-height: 100%;
}

.body-content {
    padding-bottom: 2.5rem;
}

footer {
    height: 2.5rem;
    position: absolute;
    bottom: 0;
}

.card {
    margin-bottom: 1rem;
    border-color: #93b151;
}

.list-group-item,
.card-header {
    border-color: #93b151;
}

.card-header {
    background-color: rgba(147, 177, 81, 1);
    color: rgb(255, 255, 255);
}

.card-header .text-muted {
    color: rgb(220, 220, 220)!important;
}

button:focus {
    outline-color: #93b151;
}